{% extends "base.html" %}

{% block title %}My Profile{% endblock %}

{% block app_content %}
    <h1>Admin Profile</h1>
    <a class="btn btn-primary" href="{{ url_for('factory.index') }}">Factory</a>
    <a class="btn btn-primary" href="{{ url_for('instructor.create') }}">Create Instructor</a>
    <a class="btn btn-primary" href="{{ url_for('course.index') }}">All Courses</a>
    <a class="btn btn-primary" href="{{ url_for('auth.assignInstruct') }}">Assign Instructor to Course</a>
    <a class="btn btn-primary" href="{{ url_for('auth.assignClo') }}">Assign Clo to Course</a>
    <h2>Draft Syllabi</h2>
<div class="list-group">
    {% for syllabi in draftSyllabi %}
    <a href="{{ url_for('syllabus.read', CNumber=syllabi.course_number, CVersion=syllabi.course_version, 
        sec=syllabi.section, semester=syllabi.semester, version=syllabi.version, year=syllabi.year) }}" 
       class="list-group-item list-group-item-action">
        <p>Syllabus for {{ syllabi.course_number }} is waiting approval.</p>
    </a>
    {% endfor %}
</div>
{% endblock %}