{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block app_content %}
    <h1>Create Course</h1>
    {% from "_formhelpers.html" import render_field%}

    <form action="" class="my-3" method="post">
        {{ form.hidden_tag() }}

        {{ render_field(form.courseName) }}
        {{ render_field(form.courseNumber) }}
        {{ render_field(form.section) }}
        {{ render_field(form.year) }}
        {{ render_field(form.semester) }}
        {{ render_field(form.courseDescription) }}
        {{ render_field(form.coursePrereqs) }}
        {{ render_field(form.courseBuilding) }}
        {{ render_field(form.courseRoomNo) }}
        {{ render_field(form.isCore) }}
        {{ render_field(form.isWI) }}
        {{ render_field(form.isELR) }}
        {{ render_field(form.isDiversity) }}
        <button class="btn btn-primary" type="submit">Create Course</button>
    </form>
{% endblock %}
