{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block app_content %}
<h1>All Courses</h1>
<div class="list-group">
    {% for course in courses %}
    <a href="{{ url_for('course.read', number=course.number, version=course.version) }}" 
       class="list-group-item list-group-item-action">
        <h3>CS{{ course.number }} - {{ course.name }} </h3>
        <p>Version: {{ course.version }} <small>Updated at: {{course.created}}</small></p>
    </a>
    {% endfor %}
</div>
{% endblock %}