{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block app_content %}
<h1>Results:</h1>
<ul class="list-group">
    {% for course in courses %}
        <li class="list-group-item">
            <h3> {{ course.name }} </h3>
            <p>Number: {{ course.number }}</p>
            <p>Version: {{ course.version }}</p>
            <p>Description: {{ course.description }}</p>
            <p>Building: {{ course.building }}</p>
            <p>Room: {{ course.room }}</p>
            {% if course.is_core %}
                <p>Satisfies Kent Core</p>
            {% endif %}
            {% if course.is_diversity %}
                <p>Satisfies Diversity</p>
            {% endif %}
            {% if course.is_elr %}
                <p>Satisfies Experimental Learning</p>
            {% endif %}
            {% if course.is_wi %}
                <p>Satisfies Writing Intensive</p>
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% endblock %}