{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block app_content %}
    <h1>Welcome to Syllahub</h1>
    <p>Syllahub is a one stop syllabus managment system for Kent State University! 
        Here instructors can create syllabi for the courses they teach and students
        can search for courses and view the syllabi for them. If you are an instructor
        log in with the account provided by an administrator. Otherwise you can search
        for a course by typing a course number in the navbar above.</p>
    
    <hr>
    <h1>Crunch Time!</h1>
    <p>Message on <a href="https://jarviscapstone.slack.com/messages/CFEMWECDP/team/UFMFTT7K4/">Slack</a> when you need help. </p>
    <hr>
    <p>So I made the factory into a blueprint. I used it as an example of my new @auth_required decorator. To access it, your account logged in must have its permission set to admin. Change this manually in phpmyadmin. Then check out the <a href="{{ url_for('factory.index') }}">Factory</a></p>
    <hr>
    <p><a href="{{ url_for('home.site_map') }}">Site Map</a></p>

{% endblock %}