{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block app_content %}
    <h1>Syllahub</h1>
    <p>Welcome to Kent State University's one stop syllabus management system!</p>
    <hr>
    <p>Faculty and Admin can log in to manage their courses and syllabi, and anyone
        without an account can search and view them by using the navbar above.</p>
    <hr>
    <p><a href="{{ url_for('factory.index') }}">Factory</a></p>
    <hr>
    <p><a href="{{ url_for('home.site_map') }}">Site Map</a></p>

{% endblock %}