{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block app_content %}
    {% from "_formhelpers.html" import render_field%}
    
    <h1>Syllahub Factory</h1>
    <p>this is only available to admins. If you are not an admin, you should not be here.</p>
    
    <hr>
    <h3>Generate random data</h3>
    <p>This is for development and testing. </p>

    <form action="" class="my-3" method="post">
        {{ gForm.hidden_tag() }}
        {{ render_field(gForm.count) }}
        {{ gForm.generateSubmit(class_="btn btn-primary") }}
    </form>
    <hr>

    <h3>Generate Admin</h3>
    <p>Creates The user 'admin@syllahub.com'. password='admin'. permission='admin'</p>

    <form action="" class="my-3" method="post">
        {{ adminForm.hidden_tag() }}
        {{ adminForm.adminSubmit(class_="btn btn-primary") }}
    </form>

    <hr>

    <h3>Seed From Webpage</h3>
    <p>Add any new data from https://www.kent.edu/cs/course-schedule</p>

    <form action="" class="my-3" method="post">
        {{ sForm.hidden_tag() }}
        {{ sForm.seedSubmit(class_="btn btn-primary") }}
    </form>

    <hr>

{% endblock %}