{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block app_content %}
    <h1>Stub clo read</h1>
    {% from "_formhelpers.html" import render_field%}

    <form class="my-3" method=post>
        {{ form.hidden_tag() }}
        {{ render_field(form.cloID, "Enter Clo ID") }}
        <button class="btn btn-primary" type="submit">Read Clo</button>
    </form>

    <ul class="list-group">
        {% for clo in clos %}
            <li class="list-group-item">
                <h3> {{ clo.id }} </h3>
                <h3>General Description:</h3>
                    <p> {{ clo.general }}</p>
                <h3>Specific Description:</h3>
                    <p> {{ clo.specific }}</p>
            </li>
        {% endfor %}
    </ul>
    
{% endblock %}