{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block app_content %}
    <h1>Stub clo update</h1>
    {% from "_formhelpers.html" import render_field%}

    <form class="my-3" method=post>
        {{ form.hidden_tag() }}
        {{ render_field(form.cloID, "Enter Clo ID")}}
        {{ render_field(form.cloGeneral, "Enter General Description") }}
        {{ render_field(form.cloSpecific, "Enter Specific Description") }}
        <button class="btn btn-primary" type="submit">Create Clo</button>
    </form>
{% endblock %}