{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block app_content %}
    <h1>Instructor Creation</h1>
    {%from "_formhelpers.html" import render_field %}

    <form method="post" action="">
        {{ form.hidden_tag() }}

        {{render_field(form.name)}}

        {{render_field(form.phone)}}<br>
        
        {{render_field(form.email)}}<br>
        
        {{render_field(form.hours)}}<br>
        <button type="submit">Submit</button>
    </form>
{% endblock %}

<!-- Prompt for:
    1. Instructor Name/ID
    2. Phone Number
    3. Email
    4. Office Hours

    Give 4 submit fields to store in database
    No password
-->
