{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block app_content %}
    <h1>Instructor Index</h1>
    <b><u>Instructors </u></b> <br>
    <ul class="list-group">

        {% for instructor in instructors %}
        <li class="list-group-item">

            ID: {{instructor.id}} <br>
            Name: {{instructor.name}} <br>
            Email: {{instructor.email}} <br>
            Phone: {{instructor.phone}} <br>
            Hours: {{instructor.perfered_office_hours}} <br>
            </a>
        </li>
        {% endfor %} 
    </ul>

{% endblock %}