{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block app_content %}


<h1>{{ instructor.name }}</h1>

<h5>{{ instructor.email }}</h5>
<h5>{{ instructor.phone }}</h5>
<h5>Office Hours: {{ instructor.perfered_office_hours }}</h5>
<hr>

{% if instructor.syllabusList |length == 0 %}
    <h2>This instructor is not associated with any syllabi</h2>
{% else %}
    <h2>All Syllabi related to this instructor:</h2>
    {% for syllabus in instructor.syllabusList %}
        <ul>
            <li>
                <a href=" {{ url_for('syllabus.read', 
                                 CNumber=syllabus.course.number, 
                                 CVersion=syllabus.course.version,
                                 sec=syllabus.section, 
                                 semester=syllabus.semester, 
                                 version=syllabus.version, 
                                 year=syllabus.year) }}">
                <h5>
                    Syllabus v{{ syllabus.version }} for CS{{syllabus.course_number}}-V{{syllabus.course_version}}, {{ syllabus.semester }} {{ syllabus.year }}
                </h5>
            </a>
            </li>
        </ul>
    {% endfor %}

{% endif %}


{% endblock %}