{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block app_content %}


<h1>Instructor Result</h1>
{% from "_formhelpers.html" import render_field %}

<form method=post>
    {{ form.hidden_tag() }}
    {{render_field(form.id, "Enter ID")}}
    <button class="btn btn-primary" type="submit">Read Instructor</button>
</form>

<ul class="list-group">
    {% for instructor in instructors %}
    <li class="list-group-item">
        <p>ID: {{instructor.id}} </p>
        <p>Name: {{instructor.name}} </p> 
        <p>Email: {{instructor.email}} </p>
        <p>Phone: {{instructor.phone}} </p>
        <p>Hours: {{instructor.perfered_office_hours}}</p>
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}