{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block app_content %}


<h1>{{ user.email }}</h1>
<h3>Status: {{ user.permission }}</h3>
{% if user.instructor %}
    {% if user.instructor.name %}
        <h3>{{ user.instructor.name }}</h3>
    {% endif %}

    {% if user.instructor.perfered_office_hours %}
        <h3>Office Hours: {{ user.instructor.perfered_office_hours }}</h3>
    {% endif %}
{% else %}
    <h6>This user is not associated with any instructor</h6>
{% endif %}

<p>Most recent Update: {{user.updated}} <br>
Has been a Syllahub user since: {{user.created}}</p>

{% endblock %}