
h1{
font-size:3em;
  background: -webkit-linear-gradient(top, blue, gold);
  background: linear-gradient(top, gold, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;

  position:relative;
  margin:0;
  z-index:1;
}

.navbar {
    background-image:-webkit-linear-gradient(top, blue, gold); 
    background-repeat:no-repeat;
    background-position:top;
    background-size:auto 1000px;
}