{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block app_content %}


<div class="float-right">

    <a class="float-right" 
       href="{{ url_for('syllabus.pdf', 
                        CNumber = syllabus.course.number, 
                        CVersion = syllabus.course.version,
                        sec = syllabus.section, 
                        semester = syllabus.semester, 
                        version = syllabus.version, 
                        year = syllabus.year) }}" 
       role="button">
        {% include 'syllabus/_pdfSvg.html' %}
    </a><br>

    {% if canCurrentUserEdit %}
        <a class="btn btn-warning float-right my-3" 
           href="{{ url_for('syllabus.update', 
                            CNumber = syllabus.course.number, 
                            CVersion = syllabus.course.version,
                            sec = syllabus.section, 
                            semester = syllabus.semester, 
                            version = syllabus.version, 
                            year = syllabus.year) }}" 
           role="button">
            Update
        </a>

        {% if showApproveButton %}
            <form action="" method="post">
                {{ approveForm.hidden_tag() }}
                {{ approveForm.approveSubmit(class_="btn btn-success float-right mt-2") }}
            </form>        
        {% endif %}

    {% endif %}
</div>


<h1>
    Syllabus for CS{{ syllabus.course_number }}-v{{ syllabus.course_version }} 
</h1>

<h2>{{ syllabus.course.name }}</h2>
<h6>{{ syllabus.semester }} {{ syllabus.year }}</h6>
<p>Section: {{ syllabus.section }}</p>
<p>Version: {{ syllabus.version }}</p>
<p>State: {{ syllabus.state }}</p>
<h6>Cheating_policy:</h6> <p>{{ syllabus.University_cheating_policy }}</p>
<h6>Attendance policy:</h6> <p>{{ syllabus.attendancy_policy }}</p>
<h6>Students with disabilities:</h6> 
<p>{{ syllabus.Students_with_disabilities }}</p>
{% endblock %}