{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block app_content %}
<h1>
    CS{{ syllabus.course_number }}-
    {{ syllabus.course_version }}: 
    {{ syllabus.course.name }}
</h1>
<h6>{{ syllabus.semester }} {{ syllabus.year }}</h6>
<p>Section: {{ syllabus.section }}</p>

<p>State: {{ syllabus.state }}</p>
<p>Cheating_policy: {{ syllabus.University_cheating_policy }}</p>
<p>Attendance policy: {{ syllabus.attendancy_policy }}</p>
<p>Students with disabilities: {{ syllabus.Students_with_disabilities }}</p>
{% endblock %}